#logo {
	padding-left: 5px;
	padding-right: 5px;
	width: 30px;
}

.row{
	padding: 5px;
    float:left;
    margin:10px 10px 0 10px;
    width: 15%;
}

.span2 {
	width: 85%;
}

#list{
	padding: 5px 5px 5px 20px;
    float:left;
    margin:10px 10px 0 10px;
    width: 30%;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

#accessList {
	padding: 5px;
    float:left;
    margin:10px 10px 0 10px;
    width: 15%;
}

.list-input {
    width: 170px;
}

.buttonPos-item {
    padding-left: 4px;
}
